*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contect{
    display: flex;
    justify-content:space-around;
    height: 80vh;
}

form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px;
    width: 100%;
}

label{
    font-weight: 500;
}

input {
    width: 100%;
    height: 35px;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
}

input[type = "text"] {
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type = "email"] {
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input:focus {
    border: 2px solid rgba(0, 206, 158, 1);
}

input[type="submit"] {
    margin-top: 2rem;
    margin-left: 25rem;
    background: rgb(249, 105, 14);
    color: white;
    border: none;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-weight: 5000;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: green;
}

textarea{
    resize: none;
    display:block;
    width:100%;
    font-size:18px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

textarea:focus {
    border: 2px solid rgb(0, 0, 206);
}

@media screen and (min-width:300px) and (max-width:800px)  {
    .contect{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .contect-form{
        width: 97%;
        margin: 19px 0 0;
    }

    form{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        font-size: 16px;
        padding: 0 6px 0;
    }

    label{
        font-weight: 500;
    }

    input {
        width: 100%;
        height: 35px;
        padding: 7px;
        outline: none;
        border-radius: 5px;
        border: 1px solid rgb(220, 220, 220);
    }

    input[type = "text"] {
        padding: 15px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input[type = "email"] {
        padding: 15px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }

    input:focus {
        border: 2px solid rgba(0, 206, 158, 1);
    }

    input[type="submit"] {
        margin-top: 2rem;
        margin-left: 14rem;
        background: rgb(249, 105, 14);
        color: white;
        border: none;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-weight: 5000;
    }

    input[type="submit"]:hover{
        cursor: pointer;
        background-color: green;
    }

    textarea{
        resize: none;
        display:block;
        width:100%;
        font-size:18px;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
    }

    textarea:focus {
        border: 2px solid rgb(0, 0, 206);
    }

    .contect-detalies{
        width:98%
    }

}