*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* header-page */

.content{
    background-image: url('../images/sodapdf-converted.gif');
    background-repeat: no-repeat;
    height: 59vh;
    background-size: 100%;
    display: flex;
    justify-content: flex-start;
}

.content1{
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 92px 38px;
    color: white;
    position: absolute;
}

.content2{
    display: flex;
    justify-content: space-evenly;
    flex: row;
    padding: 5px 50px;
}

.content-2{
    padding: 10px 100px;
}

.mb{
    padding: 30px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.btn-1{
    padding: 20px;
}

.btn{
    align-items: center;
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 139px;
}


/* footer-page */
.footer{
    display: flex;
    background-color: #333;
    flex-direction: column;
    justify-content: center;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.site-contact-details{
    list-style-type: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px 0;
}

.logo-footer-1{
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 10px 0;
}

.footer-details{
    color: white;
    font-weight: 500;
}

footer{
    color: white;
    padding: 0 0 20px;
}

@media screen  and (min-width:300px) and (max-width:800px){
    .nav-bar{
        width: 100%;
        height: 10vh;
    }

    .content{
        width: 100%;
        background-color: black;
        background-image: none;
        align-items: center;
        height: 374px;
        display: flex;
        justify-content: center;
    }

    .content1{
        font-size: 2px;
        padding: 0px 20px;
        top: 65px;
    }

    .content1>p{
        font-size: 15px;
    }

    .d-grid>.btn{
        width: 93%;
        display: flex;
        align-content: center;
        margin: 0 0 10px;
        justify-content: center
    }

    .content2{
        font-size: 15px;
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;
    }

    img{
        width: 100px;
        height: 130px;
    }

    .content-2{
        padding: 0 0;
    }

    .footer{
        display: flex;
        flex-direction: colume;
        width: 100%;
    }

    .footer-section{
        display: flex;
        flex-direction: column;
        padding: 0 17px;
        justify-content: space-around;
    }

    .site-contact-details{
        list-style-type: none;
        color: white;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        align-items: flex-start;
        margin: 15px;
    }

    .logo-footer-1{
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 10px 0;
        width:50%;
    }

    .logo-footer-2{
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        padding: 10px 0;
    }
}

